%h2
  You have 
  = @subscribers.count 
  subscribers. The top 3 wanted categories are:
  - @top3.each do |k, v|
    = "#{k} (#{v}) "

%h1
  Copy & paste email export
  %button{:style=>'btn btn-primary',:onclick=>'$(".all_subs").show();'}
    show
%hr
.all_subs{:style=>'display:none'}
  - @subscribers.each do |sub|
    = "#{sub.email},"
  %br
  %br
  %br

%h1
  Full List
%hr
%table{:style=>'width:100%',:class=>'table-condensed'}
  %tr{:class=>"subnav subnav-fixed"}
    %td
      %b Email
    %td
      %b Shoes
    %td
      %b Watches
    %td
      %b Casual Wear
    %td
      %b Formal Wear / Ties
    %td
      %b Denim
    %td
      %b Summer Wear / Sunglasses
    %td
      %b join date
  %tr
    %td
      %b total
    %td
      =@shoes_total.count
    %td
      =@watches_total.count
    %td
      =@casual_total.count
    %td
      =@formal_ties_total.count
    %td
      =@denim_total.count
    %td
      =@sunglasses_total.count
    %td
  - @subscribers.each do |sub|
    %tr
      %td
        = sub.email
      %td
        -if sub.shoes
          Shoes
      %td
        - if sub.watches
          Watches
      %td
        - if sub.casual
          Casual Wear
      %td
        - if sub.formal_ties
          Formal Wear / Ties
      %td
        - if sub.denim
          Denim
      %td
        - if sub.sunglasses
          Summer Wear / Sunglasses
      %td
        =sub.created_at




