.modal{:id=>'myModal', :style=>'display:none'}
  .modal-header
    %button{:class=>'close', 'data-dismiss' => 'modal'} ×
    %h3 Invite Your Friends and Earn Purchase Credits!
  .modal-body
    Share this link and earn.
    %a{:href=>'#', :onclick=>"selectAll('referal-link')"} Select
    %br
    #referal-link
      = link_to "#{root_url}?refer=#{@subscriber.email}", "#{root_url}?refer=#{@subscriber.email}" 
    %br
    %table{:style=>'width:100%',:class=>'table'}
      %tr
        %td{:style=>'width:50%'}  
          // note you have to escape or delete '%' signs for twitter's comment field
          %a{:href=>"#", :onclick=>"#{twitter_str(@subscriber.email)}", :title=>"Click to share this post on Twitter"}
            = image_tag('shareontwitter.png',:style=>'width:50%;height:52%')
        %td
          %a{:href=>'#', :title=>'Share on Facebook', :onclick=>"#{facebook_str(@subscriber.email)}"}
            = image_tag 'shareonfb.png',:style=>'width:50%;height:52%'
    %table{:style=>'width:100%'}
      %tr
        %td{:style=>'width:50%'}
          %b Founding Member
        %td 
          %b Prime Time Player
      %tr
        %td 10 friends have joined. $30 credit.
        %td 50 friends have joined. Free standard shipping for 2 month.
      %tr
        %td 
          %b VIP Members
        %td 
          %b Bonus
      %tr
        %td 25 friends have joined. $30 more credit.
        %td $25 credit when friend makes first $25 purchase within 30 days of joining.
  .modal-footer

