<table style="width:100%">
<tr>
	<td>
	<h3>End Point</h3>
	</td>
	<td>
	<h3>Redirect URL</h3>
	</td>
	<td>
	</td>
<tr>
<% @c_urls.each do |c_url| %>
	<tr>
		<td>
		<%= link_to c_url.end_point, c_url.end_point %>
		</td>
		<td>
		<%= link_to c_url.url, c_url.url %>
		</td>
		<td>
		<%= link_to "delete", custom_url_path(c_url.id), :method=>'delete',:class=>'btn' %>
		</td>
	</tr>
<% end %>
</table>

<br>
<br>
<br>
<br>
<br>
<br>
<!--<p>
<%= link_to "Add a link pair", new_custom_url_path,:class=>"btn btn-primary btn-large" %>
</p>-->

<div class="well">
<table style="width:100%">
<%= form_for "custom_urls",:url=>{:controller=>'custom_urls', :action=>'create'},:method=>'post' do |f|%>
	<tr>
	<td>
	<h3>
		URL End Point 
	</h3>
	(ie. 'manga' for ingidio/managa, 'food' for ingidio/food)
	</td>
	<td>
	<h3>
		External URL 
	</h3>
		(ie. URL you are linking to. Ends with .net, .com or whatever)
	</td>
	<td>
	</td>
	</tr>
	<tr>
	<td>
	<%= f.text_field :end_point,:placeholder=>'example' %>
	</td>
	<td>
	<%= f.text_field :url,:placeholder=>'example.com' %>
	</td>
	<td>
	<button class='btn btn-large btn-primary' type='submit'>
		Add Link
	</button>
	</td>
	</tr>
<% end %>
</table>
</div>
