<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="#">bossary</a>

				<ul class="nav">
					<% if current_admin %>
						<li class="<%= @home %>"><a href="/">Home</a></li>
						<li class="<%= @manage_urls %>">
							<%= link_to "Sub-URLs", manage_urls_path %>
						</li>

						<li class="<%= @manage_subs %>">
							<%= link_to "Subscribers", manage_subs_path %>
						</li>
						<li class="<%= @manage_site_infos %>">
							<%= link_to "Site Infos", manage_site_infos_path %>
						</li>
						<li><%= link_to "Logout", destroy_admin_session_path,:method=>'delete' %></li>
					<% end %>
				</ul>
		</div>
	</div>
</div>
